@charset "UTF-8";

.lost_password-container {

width : 400px;
height : 500px;
background-color: #ffffff;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
align-items:"center";
padding: 40px;
margin: auto;
text-align: center;
font-family : 'Noto Sans';



}
.logo-title {
position:realtive;
width: 180px;
height: 35px;
flex-direction: column;
align-items: center;
margin-bottom: 100px;
margin-top: 20px;

}
.logo-title svg {
position: absolute;

left:44%;
right: 0;

/* 블록 요소로 변경 */
margin-top: 20px;
text-align: center;
clear: both;


/* SVG와 h1 요소 사이의 간격 */
}


.lost_password-container img {
position: absolute;
left:24%;
right: 0;

/* 블록 요소로 변경 */
margin-top: 20px;
text-align: center;
clear: both;


}
/*숙명식당 글자*/
.lost_password-container h1 {


position: absolute;
left:2%;
right: 0;


margin-top: 20px;
text-align: center;
clear: both;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 41px;

color: #3D5576;
}
.lost_password-container form {
display: flex;
flex-direction: column;
margin-bottom : 40px;

}
.lost_password-container input[type="text"],
.lost_password-container input[type="password"] {
padding: 12px;

border: 1px solid #ccc;

box-sizing: border-box;

margin-bottom:15px;
font-family: 'Noto Sans';
font-style: normal;
font-size : 14px;


}

.lost_password-container button {
display: block;

margin-top: 40px;
width:100%;
text-align: center;
padding: 10px;
background-color: #3D5576;

border: none;
color: white;
border-radius: 4px;
cursor: pointer;

font-family: 'Noto Sans';
font-style: normal;
font-size: 16px;

}
.lost_password-container button:hover {
background-color: #357ab8;
}
.lost_password-container a {

display : block;
color: #357ab8;
text-decoration: none;
font-size: 14px;
font-family: 'Noto Sans';
font-style: normal;
text-align: center;

margin-top: 15px;
/* 가운데 정렬 */
}
.lost_password-container label{
display : flex;
align-items: "center";
text-align: center;


}